.container {
    width: 100vw;
}

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#shycat {
    margin-bottom: 40px;
}

.footer {
    position: absolute;
    bottom: 0px;
}

@media (max-width: 768px) {
    #shycat > img {
        width: 200px;
    }

    .portfolio {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-height: 619px) {
    .footer {
        position: static;
    }
}